@tailwind base;
@tailwind components;
@tailwind utilities;



/* .resto-card{
    transition: transform .2s;
}
.resto-card:hover {
    transform: scale(1.2);
} */

/* .header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.nav-items ul{
  list-style-type: none;
  display: flex;

}
.nav-items ul li{
   padding: 10px;
   text-decoration: none;
}
.logo{
    width: 100px;
    margin: 10px;
}
.login-btn{
    width: 100px;
    height: 50px;
    margin: 30px;
}
.login-btn:hover{
    background-color: rgb(93, 93, 126) !important; 
    color: white !important;
}
.search-container{
    margin: 10px;
}
.restaurant-card{
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    
    

}

.restaurant-card img{
    width: 100%;
    
    height: fit-content;
    object-fit: cover;
}
.restaurant-card a{
    color: black !important;
    text-decoration: none !important ;
}
.resto-list{
    display: flex;
    flex-wrap: wrap;

}
.shimmer-card{
    width: 200px;
    height: 200px;
    background: lightgrey;
    margin: 20px;
}
.menu{
    display: flex;
    width: 200px;
    margin: 10px;
    border: 1px solid black;
}
.menu img{
    width: 100%;
    
    height: fit-content;
    object-fit: cover;
}
.menu-items {
    display: flex;
    width: 200px;
    
    
} */